<a href="https://colab.research.google.com/github/Grivine-19/Coronavirus-Sentiment-Analysis-Kenya/blob/master/Coronavirus_EDA_Kenya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>**Steps**</center>



*   Tokenization
*   Cleaning the data
*   Removing Stop words
*   Classification task;

  * *Positive, negative,neutral*
*   Apply supervised algorithm for classification;

  * *Bag of Words*
  * *Lexicons-pre classified set of words*

*   Calculation - *final sentiment score*

In [ ]:
pip install pyLDAvis

In [ ]:
pip install fasttext

In [ ]:
pip install contractions

# <center>**Exploratory Data Analysis**</center>

*Here, we clean and visualize data from Data_Extraction.ipynb file to gain insights on the kind of data we are dealing with.*

In [ ]:
#Import Visualization Libraries

from google.colab import drive
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import numpy as np
import re
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import pickle
import pyLDAvis.sklearn
from collections import Counter
from textblob import TextBlob
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation, NMF

#Import data cleaning Libraries

from html.parser import HTMLParser

import string
import fasttext
import contractions
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer

#Default Parameters

%matplotlib inline
pd.options.mode.chained_assignment = None
pd.set_option('display.max_colwidth', 100)

In [ ]:
#Mount the google drive folder

drive.mount('/content/gdrive')

Mounted at /content/gdrive

# <center>**Nairobi; Data Cleaning**</center>

In [ ]:
#Load the dataframe

nairobi_tweets = pd.read_csv('/content/gdrive/My Drive/Tweets/nairobi.csv')

nairobi_tweets.head()

   Unnamed: 0  ...                                                                                  HASHTAGS
0           0  ...  #FACupFinal #ruiru #lockdownextension #COVID19KE #TheUmbrellaAcademy #TheUmbrellaAcademy
1           1  ...                                                                                       NaN
2           2  ...                                                             #COVID19KE #TheScoreKE #ruiru
3           3  ...                                                         #BuildBackBetter #SDGs #COVID19KE
4           4  ...                                                                                #COVID19KE

[5 rows x 8 columns]

In [ ]:
nairobi_tweets.info

<bound method DataFrame.info of       Unnamed: 0  ...                                                                                             HASHTAGS
0              0  ...             #FACupFinal #ruiru #lockdownextension #COVID19KE #TheUmbrellaAcademy #TheUmbrellaAcademy
1              1  ...                                                                                                  NaN
2              2  ...                                                                        #COVID19KE #TheScoreKE #ruiru
3              3  ...                                                                    #BuildBackBetter #SDGs #COVID19KE
4              4  ...                                                                                           #COVID19KE
...          ...  ...                                                                                                  ...
8636         225  ...                                                                                   #lockdownextension
8637         226  ...  #RealRuto #KunaHopeTutawin #COVID19 #FullMoon #WednesdayMotivation #WednesdayThoughts #lockdowne...
8638         227  ...                                                             #lockdownextension #SouthSudan #RealRuto
8639         228  ...  #KunaHopeTutawin #COVID19 #WednesdayMotivation #StayHome #StayHome #WednesdayThoughts #lockdowne...
8640         229  ...  #WiredEA #17mps #coronavirusinKenya #FullMoon #CoronavirusPandemic #StayHome #StayHome #lockdown...

[8641 rows x 8 columns]>

In [ ]:
#List the column names

for col in nairobi_tweets:
  print (col)

Unnamed: 0
ID
DATE
TWEET
LOCATION
RETWEETS
FAVORITES
HASHTAGS

In [ ]:
#Drop the 'location' and 'Unnamed 0:' columns from the df

nairobi_tweets.drop(["Unnamed: 0", "LOCATION"], axis = 1, inplace = True)

In [ ]:
# Save the updated dataframe to a new csv file

nairobi_tweets.to_csv('/content/gdrive/My Drive/Tweets/nairobi_final.csv')

In [ ]:
#Load the updated csv file

new_df = pd.read_csv('/content/gdrive/My Drive/Tweets/nairobi_final.csv')

#get the shape of the dataframe
print(new_df.shape)

new_df.head()  #the Unnamed: 0 column does not delete, it resulted from the merged datasets of tweets fetched from Nairobi.

(8641, 7)

   Unnamed: 0  ...                                                                                  HASHTAGS
0           0  ...  #FACupFinal #ruiru #lockdownextension #COVID19KE #TheUmbrellaAcademy #TheUmbrellaAcademy
1           1  ...                                                                                       NaN
2           2  ...                                                             #COVID19KE #TheScoreKE #ruiru
3           3  ...                                                         #BuildBackBetter #SDGs #COVID19KE
4           4  ...                                                                                #COVID19KE

[5 rows x 7 columns]

In [ ]:
#Check for the max and min dates in the data frame
#not correct as such in some instances

print(f" Data Available since {new_df.DATE.min()}")
print(f" Data Available upto {new_df.DATE.max()}")

 Data Available since 2019-11-09 11:23:40+00:00
 Data Available upto 2020-08-14 13:13:25+00:00

In [ ]:
#Checking for null values

new_df.isnull().mean()*100 

print(new_df.isnull().sum())

'''There are null values in the hashtags column...
Droping these 1159 NAN values in the hashtag column would result in the loss of similar rows of data.
Missing values causes problems with predictor models such as SVM, we retain the NAN's because our
problem requires a classification model.'''

#Do not run lines 13 & 14 of the cell!!
'''new_df.dropna(inplace=True)
print(new_df.shape)'''

Unnamed: 0       0
ID               0
DATE             0
TWEET            0
RETWEETS         0
FAVORITES        0
HASHTAGS      1159
dtype: int64

'new_df.dropna(inplace=True)\nprint(new_df.shape)'

In [ ]:
#Removing contractions from the tweet column

new_df['UNCONTRACTED'] = new_df['TWEET'].apply(lambda x: [contractions.fix(word) for word in x.split()])
new_df.head()

   Unnamed: 0  ...                                                                                         UNCONTRACTED
0           0  ...  [#FACupFinal, #ruiru, #lockdownextension, #COVID19KE, #TheUmbrellaAcademy, https://m.facebook.co...
1           1  ...  [Check, out, Audio, Book, Elven, Magic, on, Audible,, amazon, pay, $75, for, every, bounty(have,...
2           2  ...                                                                    [#COVID19KE, #TheScoreKE, #ruiru]
3           3  ...  [In, the, opening, remarks, @Ezra_K_Yego, mentioned, that, it, is, extremely, important, for, us...
4           4  ...                   [Wishing, him, and, all, front, line, workers, quick, recovery, from, #COVID19KE.]

[5 rows x 8 columns]

In [ ]:
#Converting the Uncontracted twwets to a string

new_df['UNCONTRACTED_STR'] = [' '.join(map(str, l)) for l in new_df['UNCONTRACTED']]
new_df.head()

   Unnamed: 0  ...                                                                                     UNCONTRACTED_STR
0           0  ...  #FACupFinal #ruiru #lockdownextension #COVID19KE #TheUmbrellaAcademy https://m.facebook.com/stor...
1           1  ...  Check out Audio Book Elven Magic on Audible, amazon pay $75 for every bounty(have to be a member...
2           2  ...                                                                        #COVID19KE #TheScoreKE #ruiru
3           3  ...  In the opening remarks @Ezra_K_Yego mentioned that it is extremely important for us to come up w...
4           4  ...                               Wishing him and all front line workers quick recovery from #COVID19KE.

[5 rows x 9 columns]

In [ ]:
#English Language Identification

pretrained_model = "lid.176.bin" 
model = fasttext.load_model(pretrained_model)langs=[]
for sent in new_df['UNCONTRACTED_STR']:
    lang = model.predict(sent)[0]
    langs.append(str(lang)[11:13])
new_df['langs'] = langs

SyntaxError: ignored

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
#Applying Tokenizer Function

new_df['TOKENIZED'] = new_df['UNCONTRACTED_STR'].apply(word_tokenize)

new_df.head()

   Unnamed: 0  ...                                                                                            TOKENIZED
0           0  ...  [#, FACupFinal, #, ruiru, #, lockdownextension, #, COVID19KE, #, TheUmbrellaAcademy, https, :, /...
1           1  ...  [Check, out, Audio, Book, Elven, Magic, on, Audible, ,, amazon, pay, $, 75, for, every, bounty, ...
2           2  ...                                                              [#, COVID19KE, #, TheScoreKE, #, ruiru]
3           3  ...  [In, the, opening, remarks, @, Ezra_K_Yego, mentioned, that, it, is, extremely, important, for, ...
4           4  ...               [Wishing, him, and, all, front, line, workers, quick, recovery, from, #, COVID19KE, .]

[5 rows x 10 columns]

In [ ]:
#Converting all characters to lowercase

new_df['LOWER'] = new_df['TOKENIZED'].apply(lambda x: [word.lower() for word in x])

new_df.head()

   Unnamed: 0  ...                                                                                                LOWER
0           0  ...  [#, facupfinal, #, ruiru, #, lockdownextension, #, covid19ke, #, theumbrellaacademy, https, :, /...
1           1  ...  [check, out, audio, book, elven, magic, on, audible, ,, amazon, pay, $, 75, for, every, bounty, ...
2           2  ...                                                              [#, covid19ke, #, thescoreke, #, ruiru]
3           3  ...  [in, the, opening, remarks, @, ezra_k_yego, mentioned, that, it, is, extremely, important, for, ...
4           4  ...               [wishing, him, and, all, front, line, workers, quick, recovery, from, #, covid19ke, .]

[5 rows x 11 columns]

In [ ]:
#Removing punctuations

punc = string.punctuation
new_df['NO_PUNC'] = new_df['LOWER'].apply(lambda x: [word for word in x if word not in punc])
new_df.head()

   Unnamed: 0  ...                                                                                              NO_PUNC
0           0  ...  [facupfinal, ruiru, lockdownextension, covid19ke, theumbrellaacademy, https, //m.facebook.com/st...
1           1  ...  [check, out, audio, book, elven, magic, on, audible, amazon, pay, 75, for, every, bounty, have, ...
2           2  ...                                                                       [covid19ke, thescoreke, ruiru]
3           3  ...  [in, the, opening, remarks, ezra_k_yego, mentioned, that, it, is, extremely, important, for, us,...
4           4  ...                     [wishing, him, and, all, front, line, workers, quick, recovery, from, covid19ke]

[5 rows x 12 columns]

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#Removing stopwords

stop_words = set(stopwords.words('english'))
new_df['STOPWORDS_REMOVED'] = new_df['NO_PUNC'].apply(lambda x: [word for word in x if word not in stop_words])
new_df.head()

   Unnamed: 0  ...                                                                                    STOPWORDS_REMOVED
0           0  ...  [facupfinal, ruiru, lockdownextension, covid19ke, theumbrellaacademy, https, //m.facebook.com/st...
1           1  ...  [check, audio, book, elven, magic, audible, amazon, pay, 75, every, bounty, member, 91, days, co...
2           2  ...                                                                       [covid19ke, thescoreke, ruiru]
3           3  ...  [opening, remarks, ezra_k_yego, mentioned, extremely, important, us, come, inclusive, collaborat...
4           4  ...                                          [wishing, front, line, workers, quick, recovery, covid19ke]

[5 rows x 13 columns]

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
#Stemming VS Lematization

'''Stemming is certainly the less complicated method but it often does not produce a dictionary-specific morphological root 
of the word. let’s apply lemmatization to our data but it requires some additional steps compared to stemming.'''

#Apply parts of speech tags

new_df['POS_TAGS'] = new_df['STOPWORDS_REMOVED'].apply(nltk.tag.pos_tag)

#Convert POS tags to Wordnet format
'''write a function which make the proper conversion and then use the function within 
a list comprehension to apply the conversion.'''

def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

new_df['WORDNET_POS'] = new_df['POS_TAGS'].apply(lambda x: [(word, get_wordnet_pos(pos_tag)) for (word, pos_tag) in x])
#new_df.head()

#Apply NLTK's word Lemmatizer

wnl = WordNetLemmatizer()
new_df['LEMMATIZED'] = new_df['WORDNET_POS'].apply(lambda x: [wnl.lemmatize(word, tag) for word, tag in x])
new_df.head()

   Unnamed: 0  ...                                                                                           LEMMATIZED
0           0  ...  [facupfinal, ruiru, lockdownextension, covid19ke, theumbrellaacademy, http, //m.facebook.com/sto...
1           1  ...  [check, audio, book, elven, magic, audible, amazon, pay, 75, every, bounty, member, 91, day, con...
2           2  ...                                                                       [covid19ke, thescoreke, ruiru]
3           3  ...  [open, remark, ezra_k_yego, mention, extremely, important, u, come, inclusive, collaborative, am...
4           4  ...                                              [wish, front, line, worker, quick, recovery, covid19ke]

[5 rows x 16 columns]

In [ ]:
#Save to a CSV file for further exploratory data analysis

new_df.to_csv('/content/gdrive/My Drive/Tweets/nairobi_clean.csv')

# <center>**Nairobi;Exploratory Data Analysis**</center>

*The steps below are meant to:*


*   Drive intuition
*   Formulate testable hypotheses
*   Make use of descriptive statistics and visualizations

In [ ]:
#with open('/content/gdrive/My Drive/Tweets/nairobi_pkl', 'rb') as pickle_file:
    #clean_df = pickle.load(pickle_file)

#clean_df = pd.read_pickle('/content/gdrive/My Drive/Tweets/nairobi_pkl', compression=None)
#clean_df = pickle.load(open('/content/gdrive/My Drive/Tweets/nairobi_pkl','rb'))
#Load the clean dataset
clean_df = pd.read_csv('/content/gdrive/My Drive/Tweets/nairobi_clean.csv')
clean_df.head()

   Unnamed: 0  ...                                                                                           LEMMATIZED
0           0  ...  ['facupfinal', 'ruiru', 'lockdownextension', 'covid19ke', 'theumbrellaacademy', 'http', '//m.fac...
1           1  ...  ['check', 'audio', 'book', 'elven', 'magic', 'audible', 'amazon', 'pay', '75', 'every', 'bounty'...
2           2  ...                                                                 ['covid19ke', 'thescoreke', 'ruiru']
3           3  ...  ['open', 'remark', 'ezra_k_yego', 'mention', 'extremely', 'important', 'u', 'come', 'inclusive',...
4           4  ...                                ['wish', 'front', 'line', 'worker', 'quick', 'recovery', 'covid19ke']

[5 rows x 17 columns]

In [ ]:
#Overwrite our dataframe to retain the only columns we are interested in.
'''Re-arrange the columns so as to have the 'Lemmatized' column preceeded by the 'Date' column'''

clean_df = clean_df[['ID','DATE','LEMMATIZED','RETWEETS','FAVORITES','HASHTAGS']]
clean_df.head()

                    ID  ...                                                                                  HASHTAGS
0  1289314486092877825  ...  #FACupFinal #ruiru #lockdownextension #COVID19KE #TheUmbrellaAcademy #TheUmbrellaAcademy
1  1215096387550896128  ...                                                                                       NaN
2  1289257452219793408  ...                                                             #COVID19KE #TheScoreKE #ruiru
3  1289191573054345219  ...                                                         #BuildBackBetter #SDGs #COVID19KE
4  1289142305593724928  ...                                                                                #COVID19KE

[5 rows x 6 columns]

In [ ]:
#Use TextBlob library to analyze sentiment
#Convert the 'Lemmatized' column to string since textblob only takes in string inputs.

clean_df['LEMMA_STR'] = [' '.join(map(str,l)) for l in clean_df['LEMMATIZED']]
#clean_df.head()
clean_df['SENTIMENT'] = clean_df['LEMMA_STR'].apply(lambda x: TextBlob(x).sentiment.polarity)
clean_df.tail()

                       ID  ... SENTIMENT
8636  1247945415967850499  ...       0.0
8637  1247936155166875651  ...       0.0
8638  1247928683626668033  ...       0.0
8639  1247916014114877440  ...       0.0
8640  1247812906613264385  ...       0.0

[5 rows x 8 columns]

### **Tokenization**

In [ ]:
import string
from spacy.lang.en.stop_words import STOP_WORDS
from spacy.lang.en import English

# Create our list of punctuation marks
punctuations = string.punctuation

# Create our list of stopwords
nlp = spacy.load('en')
stop_words = spacy.lang.en.stop_words.STOP_WORDS

# Load English tokenizer, tagger, parser, NER and word vectors
parser = English()

# Creating our tokenizer function
def spacy_tokenizer(sentence):
    # Creating our token object, which is used to create documents with linguistic annotations.
    mytokens = parser(sentence)

    # Lemmatizing each token and converting each token into lowercase
    mytokens = [ word.lemma_.lower().strip() if word.lemma_ != "-PRON-" else word.lower_ for word in mytokens ]
# Removing stop words
    mytokens = [ word for word in mytokens if word not in stop_words and word not in punctuations ]

    # return preprocessed list of tokens
    return mytokens

spacy_tokenizer(sentence=new_df)

'''#Load model to return language object

nlp = spacy.load('en')

#Calling nlp on our tweet texts to return a processed Doc for each

new_df['doc'] = [nlp(TWEET) for TWEET in new_df.TWEET]

new_df.sample(3)
#new_df.head()'''

NameError: ignored

In [ ]:
#converting HTML entities

print("""First Step : Converting html entities i.e. (&lt; &gt; &amp;)
( "&lt;" is converted to “<” and "&amp;" is converted to “&”)""")

html_parser = HTMLParser()

In [ ]:
# Created a new columns i.e. clean_tweet contains the same tweets but cleaned version

new_df['CLEAN_TWEET'] = new_df['TWEET'].apply(lambda x: html_parser.unescape(x))

new_df.head()

In [ ]:
#Re-arrange the columns so that the 'clean tweets' column is preceeded by the 'tweet' column

'''List of former columns in order:
Unnamed: 0 
ID             
DATE           
TWEET          
RETWEETS       
FAVORITES      
HASHTAGS'''

new_df = new_df[['Unnamed: 0','ID','DATE','TWEET', 'CLEAN_TWEET', 'RETWEETS', 'FAVORITES', 'HASHTAGS']]


#Print out the new order of columns

'''for col in new_df:
  print(col)'''

#view the adjusted dataframe

new_df.head()

In [ ]:
#Removing '@User' from all the tweets

def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
    return input_txt

# remove twitter handles (@user)
new_df['CLEAN_TWEET'] = np.vectorize(remove_pattern)(new_df['CLEAN_TWEET'], "@[\w]*")

new_df.head(10)

In [ ]:
# Changing all the tweets into lowercase

new_df['CLEAN_TWEET'] = new_df['CLEAN_TWEET'].apply(lambda x: x.lower())
new_df.head(10)

In [ ]:
#Replacing punctuation with space

new_df['CLEAN_TWEET'] = new_df['CLEAN_TWEET'].apply(lambda x: re.sub(r'[^\w\s]',' ',x))

new_df.head(10)

In [ ]:
#Replacing special characters with space

new_df['CLEAN_TWEET'] = new_df['CLEAN_TWEET'].apply(lambda x: re.sub(r'[^a-zA-Z0-9]',' ',x))

new_df.head(10)

In [ ]:
#Replacing Numbers(Integers) with space

new_df['CLEAN_TWEET'] = new_df['CLEAN_TWEET'].apply(lambda x: re.sub(r'[^a-zA-Z]',' ',x))

new_df.head(10)

In [ ]:
#Removing words whose length is less than 1

new_df['CLEAN_TWEET'] = new_df['CLEAN_TWEET'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>1]))
new_df['CLEAN_TWEET'][0:5]

In [ ]:
#Word Cloud

wordcloud__ = WordCloud(
                          background_color='yellow',
                          stopwords=set(STOPWORDS),
                          max_words=250,
                          max_font_size=40, 
                          random_state=1705
                         ).generate(str(new_df['LEMMATIZED'].dropna()))
def cloud_plot(wordcloud):
    fig = plt.figure(1, figsize=(20,15))
    plt.imshow(wordcloud)
    plt.axis('off')
    plt.show()
cloud_plot(wordcloud__)

In [ ]:
#The number of tweets according to dates

df['DATE'] =  pd.to_datetime(df['DATE'])
cnt_srs =df['DATE'].dt.date.value_counts()
cnt_srs = cnt_srs.sort_index()
plt.figure(figsize=(16,12))
sns.barplot(cnt_srs.index, cnt_srs.values, alpha=0.8, color='green')
plt.xticks(rotation='vertical')
plt.xlabel('Date', fontsize=12)
plt.ylabel('Number of tweets', fontsize=12)
plt.title("Number of tweets according to dates")
plt.show()