# **<center>OVERVIEW</center>**

> #### Here, I use snscrape as a library that allows us to fetch data without the limitations of tweepy, especially, after twitter rendered GetOldTweets3 obsolete due to change in its privacy policies.

> #### Snscrape works only if you have the right version of Python installed. That is, Python 3.8 or higher.

> #### At the time of writing this, it is more recommended to use the developer version of snscrape as it has more useful functionality.

In [5]:
#Download the developer version of snscrape
#Do not use "pip install snscrape" as it does not give you the developer version of the library.
#This version of snscrape cannot install on Google Colab Because colab uses python version 3.6. We require version 3.8 or higher for the task.
#The solution is to run the command locally(local runtime environment on computer)

!pip install git+https://github.com/JustAnotherArchivist/snscrape.git

Collecting git+https://github.com/JustAnotherArchivist/snscrape.git
  Cloning https://github.com/JustAnotherArchivist/snscrape.git to /tmp/pip-req-build-85rwqher
Requirement already satisfied (use --upgrade to upgrade): snscrape==0.3.5.dev95+g5cd3b7d from git+https://github.com/JustAnotherArchivist/snscrape.git in /home/grivine/anaconda3/lib/python3.8/site-packages
Requirement already satisfied: requests[socks] in /home/grivine/anaconda3/lib/python3.8/site-packages (from snscrape==0.3.5.dev95+g5cd3b7d) (2.24.0)
Requirement already satisfied: lxml in /home/grivine/.local/lib/python3.8/site-packages (from snscrape==0.3.5.dev95+g5cd3b7d) (4.5.2)
Requirement already satisfied: beautifulsoup4 in /home/grivine/anaconda3/lib/python3.8/site-packages (from snscrape==0.3.5.dev95+g5cd3b7d) (4.9.3)
Requirement already satisfied: pytz in /home/grivine/anaconda3/lib/python3.8/site-packages (from snscrape==0.3.5.dev95+g5cd3b7d) (2020.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/grivine/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape==0.3.5.dev95+g5cd3b7d) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/grivine/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape==0.3.5.dev95+g5cd3b7d) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /home/grivine/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape==0.3.5.dev95+g5cd3b7d) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /home/grivine/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape==0.3.5.dev95+g5cd3b7d) (2020.6.20)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /home/grivine/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape==0.3.5.dev95+g5cd3b7d) (1.7.1)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/grivine/anaconda3/lib/python3.8/site-packages (from beautifulsoup4->snscrape==0.3.5.dev95+g5cd3b7d) (2.0.1)
Building wheels for collected packages: snscrape
  Building wheel for snscrape (setup.py) ... done
  Created wheel for snscrape: filename=snscrape-0.3.5.dev95+g5cd3b7d-py3-none-any.whl size=50122 sha256=7cdcadbaaaefcec539d10a8f04eb0bda5021e771c435058cc3b6284d36981c58
  Stored in directory: /tmp/pip-ephem-wheel-cache-5qv6f5r7/wheels/92/42/87/33fa9b18f7a75d02643a9ca3743339aec9be28c6796267c7d8
Successfully built snscrape

#### To get the latitude and longitude of the cities in Kenya, I used this site; [LatLong.net](https://www.latlong.net/category/cities-115-15.html) for the geocode search parameter.

In [59]:
#Importing required libraries for the task

import snscrape.modules.twitter as sntwitter
import pandas as pd 

# Creating list to append tweet data to

tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('UhuruAddress geocode:-1.286389,36.817223,20km, since:2020-02-15 until:2020-07-31').get_items()):
    if i>10:
        tweets_list2.append([tweet.date, tweet.content, tweet.retweetCount, tweet.likeCount])

#Removed: tweet.id, tweet.url, tweet.user.username
    
#Creating a dataframe from the tweets list above

tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime',  'Text', 'retweets', 'likes'])

In [60]:
#Load the first few rows of the data frame 

tweets_df2.head()
#tweets_df2.shape

,Datetime,Text,retweets,likes
0,2020-06-06 19:28:03+00:00,Mmetukosea sana! \n\nSasa ningeenda hadi pahal...,0,2
1,2020-06-06 13:25:27+00:00,CAN'T WAIT ðŸ¥°ðŸ¥° #6thjune #BlackLivesMatter #Curf...,1,10
2,2020-06-06 13:24:27+00:00,Wakenya hawachoki na meme za UhuruðŸ˜‚ðŸ˜‚ #UhuruKen...,1,4
3,2020-06-06 13:03:01+00:00,Fellow Kenyans #uhuruspeaks #UhuruAddress http...,0,1
4,2020-06-06 13:02:49+00:00,#UhuruKenyatta Cessation of movement in Nairob...,0,2

# <center> **DATA EXTRACTION PHASE** </center>

#### Here we store the tweets fetched  in csv format and merge the results from different searches to make a singular dataset for Exploratory Data Analysis.

In [61]:
print("converting and storing the data in CSV format...:")

tweets_df2.to_csv('nrb_address.csv')

print("Loading the dataset's first few rows:")

df1 = pd.read_csv('nrb_address.csv')
df1.head()

converting and storing the data in CSV format...:
Loading the dataset's first few rows:

,Unnamed: 0,Datetime,Text,retweets,likes
0,0,2020-06-06 19:28:03+00:00,Mmetukosea sana! \n\nSasa ningeenda hadi pahal...,0,2
1,1,2020-06-06 13:25:27+00:00,CAN'T WAIT ðŸ¥°ðŸ¥° #6thjune #BlackLivesMatter #Curf...,1,10
2,2,2020-06-06 13:24:27+00:00,Wakenya hawachoki na meme za UhuruðŸ˜‚ðŸ˜‚ #UhuruKen...,1,4
3,3,2020-06-06 13:03:01+00:00,Fellow Kenyans #uhuruspeaks #UhuruAddress http...,0,1
4,4,2020-06-06 13:02:49+00:00,#UhuruKenyatta Cessation of movement in Nairob...,0,2

In [69]:
#Merging the data from different search phrases

data1=pd.read_csv('/home/grivine/Desktop/Get_Old_Tweets_Approach/nrb_address.csv')
data2=pd.read_csv('/home/grivine/Desktop/Get_Old_Tweets_Approach/nrb_curfew.csv')
data3=pd.read_csv('/home/grivine/Desktop/Get_Old_Tweets_Approach/nrb_ke.csv')
data4=pd.read_csv('/home/grivine/Desktop/Get_Old_Tweets_Approach/nrb_komesha.csv')
data5=pd.read_csv('/home/grivine/Desktop/Get_Old_Tweets_Approach/nrb_lockdown.csv')
data6=pd.read_csv('/home/grivine/Desktop/Get_Old_Tweets_Approach/nrb_safe.csv')
data7=pd.read_csv('/home/grivine/Desktop/Get_Old_Tweets_Approach/nrb_tough.csv')

nrb_merge_df = pd.concat([data1, data2, data3, data4, data5, data6, data7])

#Converting to a csv file

nrb_merge_df.to_csv('nairobi_county.csv')

nairobi_df = pd.read_csv('nairobi_county.csv')

# <center>**NAIROBI COUNTY EDA**</center>

#### Importing the libraries

In [88]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline
import numpy as np
import re
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
from plotly import graph_objs as go
#from google.colab import drive from google.colab import drive

In [89]:
#Load the first four rows of the data set

nairobi_df.head()

,Datetime,Text,retweets,likes
0,2020-06-06 19:28:03+00:00,Mmetukosea sana! \n\nSasa ningeenda hadi pahal...,0,2
1,2020-06-06 13:25:27+00:00,CAN'T WAIT ðŸ¥°ðŸ¥° #6thjune #BlackLivesMatter #Curf...,1,10
2,2020-06-06 13:24:27+00:00,Wakenya hawachoki na meme za UhuruðŸ˜‚ðŸ˜‚ #UhuruKen...,1,4
3,2020-06-06 13:03:01+00:00,Fellow Kenyans #uhuruspeaks #UhuruAddress http...,0,1
4,2020-06-06 13:02:49+00:00,#UhuruKenyatta Cessation of movement in Nairob...,0,2

In [90]:
nairobi_df.tail()

,Datetime,Text,retweets,likes
8179,2020-05-29 06:20:25+00:00,President Uhuru Kenyatta made it clear that's ...,0,2
8180,2020-05-29 06:03:22+00:00,#Uhurustoughchoices Mlisema huyu Ni mtoto wa N...,0,0
8181,2020-05-29 05:19:20+00:00,Among other tough choices Uhuru must make is g...,3,4
8182,2020-05-27 18:59:53+00:00,Pandemic. Perforated pockets. Plunging economy...,1,6
8183,2020-05-27 18:54:16+00:00,Pandemic. Perforated pockets. Plunging economy...,26,35

#### Shape of the Data

In [91]:
#The number of rows and columns of the data

nairobi_df.shape

(8184, 4)

In [92]:
#Checking the data types of our data

""" This is crucial for modeling tasks. e.g when solving a regression problem, we only deal with numerical data types and not categorical. """

nairobi_df.dtypes

Datetime    object
Text        object
retweets     int64
likes        int64
dtype: object

### **Cleaning the data**

#### Dealing with missing values

In [94]:
#Checking for missing values

""" If there are missing values in the columns, we either fill or drop them from the respective columns with too many missing values that are not of significance to the modeling task.

For this case, there are no missing values to handle."""

nairobi_df.isnull().sum()

Datetime    0
Text        0
retweets    0
likes       0
dtype: int64

In [96]:
#Checking for duplicates
print(nairobi_df.duplicated().any())

True

In [97]:
#Dropping Duplicates

nairobi_df.drop_duplicates(keep=False, inplace=True)

#Confirming there are no duplicates

print(nairobi_df.duplicated().any())
print(nairobi_df.shape)

False
(4014, 4)

#### Dealing with Outliers

##### We check for outliers because often times, they result into an impbalanced data for modeling. i.e too many outliers bring about a high variance to our data. High variance causes overfitting to our model.

##### A Z score is used since our dataset consists of more than 30 rows.

In [98]:
#Dealing with outliers
#
#Import stats from scipy library

from scipy import stats
num = ['retweets']
for i, col in enumerate(num):
    z = np.abs(stats.zscore(nairobi_df[col]))
print(z)

[0.13729457 0.05489319 0.13729457 ... 0.10990955 0.05489319 2.00514114]

In [101]:
#Confirming that our outliers have been dropped from the data set

nairobi_df2 = nairobi_df[( z < 2 )]

print(f"Previous dataframe size : {nairobi_df.shape[0]}" )
print(f"New dataframe size : {nairobi_df.shape[0]}" )

Previous dataframe size : 4014
New dataframe size : 4014

#### Cleaning the text

In [72]:
#Check for the maximum and minimum dates in the data

print(f" Data Available since {nairobi_df.Datetime.min()}")
print(f" Data Available upto {nairobi_df.Datetime.max()}")

 Data Available since 2020-02-16 11:30:23+00:00
 Data Available upto 2020-07-22 03:35:10+00:00