# **<center>OVERVIEW</center>**

> #### Here, I use snscrape as a library that allows us to fetch data without the limitations of tweepy, especially, after twitter rendered GetOldTweets3 obsolete due to change in its privacy policies.

> #### Snscrape works only if you have the right version of Python installed. That is, Python 3.8 or higher.

> #### At the time of writing this, it is more recommended to use the developer version of snscrape as it has more useful functionality.

In [5]:
#Download the developer version of snscrape
#Do not use "pip install snscrape" as it does not give you the developer version of the library.
#This version of snscrape cannot install on Google Colab Because colab uses python version 3.6. We require version 3.8 or higher for the task.
#The solution is to run the command locally(local runtime environment on computer)

!pip install git+https://github.com/JustAnotherArchivist/snscrape.git

Collecting git+https://github.com/JustAnotherArchivist/snscrape.git
  Cloning https://github.com/JustAnotherArchivist/snscrape.git to /tmp/pip-req-build-85rwqher
Requirement already satisfied (use --upgrade to upgrade): snscrape==0.3.5.dev95+g5cd3b7d from git+https://github.com/JustAnotherArchivist/snscrape.git in /home/grivine/anaconda3/lib/python3.8/site-packages
Requirement already satisfied: requests[socks] in /home/grivine/anaconda3/lib/python3.8/site-packages (from snscrape==0.3.5.dev95+g5cd3b7d) (2.24.0)
Requirement already satisfied: lxml in /home/grivine/.local/lib/python3.8/site-packages (from snscrape==0.3.5.dev95+g5cd3b7d) (4.5.2)
Requirement already satisfied: beautifulsoup4 in /home/grivine/anaconda3/lib/python3.8/site-packages (from snscrape==0.3.5.dev95+g5cd3b7d) (4.9.3)
Requirement already satisfied: pytz in /home/grivine/anaconda3/lib/python3.8/site-packages (from snscrape==0.3.5.dev95+g5cd3b7d) (2020.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/grivine/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape==0.3.5.dev95+g5cd3b7d) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/grivine/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape==0.3.5.dev95+g5cd3b7d) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /home/grivine/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape==0.3.5.dev95+g5cd3b7d) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /home/grivine/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape==0.3.5.dev95+g5cd3b7d) (2020.6.20)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /home/grivine/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape==0.3.5.dev95+g5cd3b7d) (1.7.1)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/grivine/anaconda3/lib/python3.8/site-packages (from beautifulsoup4->snscrape==0.3.5.dev95+g5cd3b7d) (2.0.1)
Building wheels for collected packages: snscrape
  Building wheel for snscrape (setup.py) ... done
  Created wheel for snscrape: filename=snscrape-0.3.5.dev95+g5cd3b7d-py3-none-any.whl size=50122 sha256=7cdcadbaaaefcec539d10a8f04eb0bda5021e771c435058cc3b6284d36981c58
  Stored in directory: /tmp/pip-ephem-wheel-cache-5qv6f5r7/wheels/92/42/87/33fa9b18f7a75d02643a9ca3743339aec9be28c6796267c7d8
Successfully built snscrape

#### To get the latitude and longitude of the cities in Kenya, I used this site; [LatLong.net](https://www.latlong.net/category/cities-115-15.html) for the geocode search parameter.

In [6]:
#Importing required libraries for the task

import snscrape.modules.twitter as sntwitter
import pandas as pd 

# Creating list to append tweet data to

tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('UhuruAddress geocode:-1.286389,36.817223,20km, since:2020-02-15 until:2020-07-31').get_items()):
    if i>10:
        tweets_list2.append([tweet.date, tweet.content, tweet.retweetCount, tweet.likeCount])

#Removed: tweet.id, tweet.url, tweet.user.username
    
#Creating a dataframe from the tweets list above

tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime',  'Text', 'retweets', 'likes'])

In [7]:
#Load the first few rows of the data frame 

tweets_df2.head()
#tweets_df2.shape

,Datetime,Text,retweets,likes
0,2020-06-06 19:28:03+00:00,Mmetukosea sana! \n\nSasa ningeenda hadi pahal...,0,2
1,2020-06-06 13:25:27+00:00,CAN'T WAIT ðŸ¥°ðŸ¥° #6thjune #BlackLivesMatter #Curf...,1,10
2,2020-06-06 13:24:27+00:00,Wakenya hawachoki na meme za UhuruðŸ˜‚ðŸ˜‚ #UhuruKen...,1,4
3,2020-06-06 13:03:01+00:00,Fellow Kenyans #uhuruspeaks #UhuruAddress http...,0,1
4,2020-06-06 13:02:49+00:00,#UhuruKenyatta Cessation of movement in Nairob...,0,2

# <center> **DATA EXTRACTION PHASE** </center>

#### Here we store the tweets fetched  in csv format and merge the results from different searches to make a singular dataset for Exploratory Data Analysis.

In [8]:
print("converting and storing the data in CSV format...:")

tweets_df2.to_csv('nrb_address.csv')

print("Loading the dataset's first few rows:")

df1 = pd.read_csv('nrb_address.csv')
df1.head()

converting and storing the data in CSV format...:
Loading the dataset's first few rows:

,Unnamed: 0,Datetime,Text,retweets,likes
0,0,2020-06-06 19:28:03+00:00,Mmetukosea sana! \n\nSasa ningeenda hadi pahal...,0,2
1,1,2020-06-06 13:25:27+00:00,CAN'T WAIT ðŸ¥°ðŸ¥° #6thjune #BlackLivesMatter #Curf...,1,10
2,2,2020-06-06 13:24:27+00:00,Wakenya hawachoki na meme za UhuruðŸ˜‚ðŸ˜‚ #UhuruKen...,1,4
3,3,2020-06-06 13:03:01+00:00,Fellow Kenyans #uhuruspeaks #UhuruAddress http...,0,1
4,4,2020-06-06 13:02:49+00:00,#UhuruKenyatta Cessation of movement in Nairob...,0,2

In [9]:
#Merging the data from different search phrases

data1=pd.read_csv('/home/grivine/Desktop/Get_Old_Tweets_Approach/nrb_address.csv')
data2=pd.read_csv('/home/grivine/Desktop/Get_Old_Tweets_Approach/nrb_curfew.csv')
data3=pd.read_csv('/home/grivine/Desktop/Get_Old_Tweets_Approach/nrb_ke.csv')
data4=pd.read_csv('/home/grivine/Desktop/Get_Old_Tweets_Approach/nrb_komesha.csv')
data5=pd.read_csv('/home/grivine/Desktop/Get_Old_Tweets_Approach/nrb_lockdown.csv')
data6=pd.read_csv('/home/grivine/Desktop/Get_Old_Tweets_Approach/nrb_safe.csv')
data7=pd.read_csv('/home/grivine/Desktop/Get_Old_Tweets_Approach/nrb_tough.csv')

nrb_merge_df = pd.concat([data1, data2, data3, data4, data5, data6, data7])

#Converting to a csv file

nrb_merge_df.to_csv('nairobi_county.csv')

nairobi_df = pd.read_csv('nairobi_county.csv')

# <center>**NAIROBI COUNTY EDA**</center>

#### Importing the libraries

In [10]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline
import numpy as np
import re
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
from plotly import graph_objs as go
#from google.colab import drive from google.colab import drive

In [11]:
#Load the first four rows of the data set

nairobi_df.head()

,Unnamed: 0,Unnamed: 0.1,Datetime,Text,retweets,likes
0,0,0,2020-06-06 19:28:03+00:00,Mmetukosea sana! \n\nSasa ningeenda hadi pahal...,0,2
1,1,1,2020-06-06 13:25:27+00:00,CAN'T WAIT ðŸ¥°ðŸ¥° #6thjune #BlackLivesMatter #Curf...,1,10
2,2,2,2020-06-06 13:24:27+00:00,Wakenya hawachoki na meme za UhuruðŸ˜‚ðŸ˜‚ #UhuruKen...,1,4
3,3,3,2020-06-06 13:03:01+00:00,Fellow Kenyans #uhuruspeaks #UhuruAddress http...,0,1
4,4,4,2020-06-06 13:02:49+00:00,#UhuruKenyatta Cessation of movement in Nairob...,0,2

In [12]:
nairobi_df.tail()

,Unnamed: 0,Unnamed: 0.1,Datetime,Text,retweets,likes
8179,37,37,2020-05-29 06:20:25+00:00,President Uhuru Kenyatta made it clear that's ...,0,2
8180,38,38,2020-05-29 06:03:22+00:00,#Uhurustoughchoices Mlisema huyu Ni mtoto wa N...,0,0
8181,39,39,2020-05-29 05:19:20+00:00,Among other tough choices Uhuru must make is g...,3,4
8182,40,40,2020-05-27 18:59:53+00:00,Pandemic. Perforated pockets. Plunging economy...,1,6
8183,41,41,2020-05-27 18:54:16+00:00,Pandemic. Perforated pockets. Plunging economy...,26,35

#### Shape of the Data

In [13]:
#The number of rows and columns of the data

nairobi_df.shape

(8184, 6)

In [14]:
#Checking the data types of our data

""" This is crucial for modeling tasks. e.g when solving a regression problem, we only deal with numerical data types and not categorical. """

nairobi_df.dtypes

Unnamed: 0       int64
Unnamed: 0.1     int64
Datetime        object
Text            object
retweets         int64
likes            int64
dtype: object

### **Cleaning the data**

#### Dealing with missing values

In [15]:
#Checking for missing values

""" If there are missing values in the columns, we either fill or drop them from the respective columns with too many missing values that are not of significance to the modeling task.

For this case, there are no missing values to handle."""

nairobi_df.isnull().sum()

Unnamed: 0      0
Unnamed: 0.1    0
Datetime        0
Text            0
retweets        0
likes           0
dtype: int64

In [16]:
#Checking for duplicates
print(nairobi_df.duplicated().any())

True

In [17]:
#Dropping Duplicates

nairobi_df.drop_duplicates(keep=False, inplace=True)

#Confirming there are no duplicates

print(nairobi_df.duplicated().any())
print(nairobi_df.shape)

False
(4214, 6)

#### Dealing with Outliers

##### We check for outliers because often times, they result into an impbalanced data for modeling. i.e too many outliers bring about a high variance to our data. High variance causes overfitting to our model.

##### A Z score is used since our dataset consists of more than 30 rows.

In [18]:
#Dealing with outliers
#
#Import stats from scipy library

from scipy import stats
num = ['retweets']
for i, col in enumerate(num):
    z = np.abs(stats.zscore(nairobi_df[col]))
print(z)

[0.14138055 0.0583916  0.0583916  ... 0.10758628 0.0583916  2.016332  ]

In [19]:
#Confirming that our outliers have been dropped from the data set

nairobi_df2 = nairobi_df[( z < 2 )]

print(f"Previous dataframe size : {nairobi_df.shape[0]}" )
print(f"New dataframe size : {nairobi_df2.shape[0]}" )

Previous dataframe size : 4214
New dataframe size : 4173

In [20]:
nairobi_df2.describe()

        Unnamed: 0  Unnamed: 0.1     retweets        likes
count  4173.000000   4173.000000  4173.000000  4173.000000
mean   1358.447160   1358.447160     0.938414     3.866044
std    1011.783419   1011.783419     2.363796    11.782160
min       0.000000      0.000000     0.000000     0.000000
25%     444.000000    444.000000     0.000000     0.000000
50%    1195.000000   1195.000000     0.000000     1.000000
75%    2241.000000   2241.000000     1.000000     3.000000
max    3298.000000   3298.000000    25.000000   202.000000

#### Cleaning the text

In [21]:
#Map the lowering function to all column names

nairobi_df2.columns = map(str.lower, nairobi_df2.columns)

#Print the column names

for col in nairobi_df2:
    print(col)

unnamed: 0
unnamed: 0.1
datetime
text
retweets
likes

In [22]:
#Removing Whitespace from both columns and rows and converting case to lower case
#
#Converting the text column to string dtype after getting an attribute error
"""nairobi_df2['text'] = nairobi_df2['text'].astype(str)

nairobi_df2.columns = nairobi_df2.str.strip().str.replace(",").str.lower()

cat = nairobi_df2['text']

for i, c in enumerate(cat):
    nairobi_df2[cat] = nairobi_df2[c].str.strip().str.replace(",").str.lower()"""

#Make text lowercase, remove text in square brackets, remove links, remove punctuation and remove words containing numbers
import re
import string

def clean_text(text):
    text = str(text).lower()
    text = re.sub("\[.*?\]", '', text)
    text = re.sub("https?://\S+|www\.S+", '', text)
    text = re.sub("<.*?>+", '', text)
    text = re.sub("[%s]" % re.escape(string.punctuation) , '', text)
    text = re.sub("\n", '', text)
    text = re.sub("\w*\d\w*", '', text)
    return text

In [23]:
#Using a lambda function to clean the text column

nairobi_df2['text'] = nairobi_df2['text'].apply(lambda x:clean_text(x))

<ipython-input-23-8773a3d429ac>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nairobi_df2['text'] = nairobi_df2['text'].apply(lambda x:clean_text(x))

In [24]:
#Preview the dataset to see changes

nairobi_df2.tail()

,unnamed: 0,unnamed: 0.1,datetime,text,retweets,likes
8178,36,36,2020-05-29 06:34:32+00:00,theres nothing like making a tough choice when...,0,0
8179,37,37,2020-05-29 06:20:25+00:00,president uhuru kenyatta made it clear thats t...,0,2
8180,38,38,2020-05-29 06:03:22+00:00,uhurustoughchoices mlisema huyu ni mtoto wa na...,0,0
8181,39,39,2020-05-29 05:19:20+00:00,among other tough choices uhuru must make is g...,3,4
8182,40,40,2020-05-27 18:59:53+00:00,pandemic perforated pockets plunging economy p...,1,6

In [37]:
#Removing Stopwords
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

nairobi_df2['text_without_stopwords'] = nairobi_df2["text"].apply(lambda words: ' '.join(word.lower() for word in words if word not in stop)) #this is a simpler way for not getting back a list of words

#nairobi_df2['text_without_stopwords'] = nairobi_df2['text'].apply(lambda x: ' '.join([word for word in x if word not in (stop)]))#this method gives back a list of words

nairobi_df2.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/grivine/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
<ipython-input-37-5872c55b81a0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nairobi_df2['text_without_stopwords'] = nairobi_df2["text"].apply(lambda words: ' '.join(word.lower() for word in words if word not in stop)) #this is a simpler way for not getting back a list of words

,unnamed: 0,unnamed: 0.1,datetime,text,retweets,likes,text_without_stopwords
0,0,0,2020-06-06 19:28:03+00:00,"[mmetukosea, sana, sasa, ningeenda, hadi, paha...",0,2,mmetukosea sana sasa ningeenda hadi pahali gar...
1,1,1,2020-06-06 13:25:27+00:00,"[cant, wait, ðŸ¥°ðŸ¥°, blacklivesmatter, curfewinken...",1,10,cant wait ðŸ¥°ðŸ¥° blacklivesmatter curfewinkenya wa...
2,2,2,2020-06-06 13:24:27+00:00,"[wakenya, hawachoki, na, meme, za, uhuruðŸ˜‚ðŸ˜‚, uh...",1,4,wakenya hawachoki na meme za uhuruðŸ˜‚ðŸ˜‚ uhurukeny...
3,3,3,2020-06-06 13:03:01+00:00,"[fellow, kenyans, uhuruspeaks, uhuruaddress]",0,1,fellow kenyans uhuruspeaks uhuruaddress
4,4,4,2020-06-06 13:02:49+00:00,"[uhurukenyatta, cessation, of, movement, in, n...",0,2,uhurukenyatta cessation movement nairobi momba...

In [38]:
#Check for the maximum and minimum dates in the data

print(f" Data Available since {nairobi_df2.datetime.min()}")
print(f" Data Available upto {nairobi_df2.datetime.max()}")

 Data Available since 2020-02-16 11:30:23+00:00
 Data Available upto 2020-07-22 03:35:10+00:00

#### **Visualizations**

#### Common Words

In [39]:
#Checking for the most common words

from collections import Counter
nairobi_df2['text_without_stopwords'] = nairobi_df2['text_without_stopwords'].apply(lambda x:str(x).split())
top = Counter([item for sublist in nairobi_df2['text_without_stopwords'] for item in sublist])
tweets = pd.DataFrame(top.most_common(26))
tweets.columns = ['common words', 'count']
tweets.style.background_gradient(cmap = 'Blues')

<ipython-input-39-6626048f3037>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nairobi_df2['text_without_stopwords'] = nairobi_df2['text_without_stopwords'].apply(lambda x:str(x).split())

#### Word Cloud

In [43]:
import os
#for dirname, _, filenames in os.walk('/home/grivine/Desktop/Get_Old_Tweets_Approach'):
    #for filename in filenames:
        #print(os.path.join(dirname, filename))

In [58]:
def plot_wordcloud(text_without_stopwords, mask = None, max_words = 200, max_font_size = 100, figure_size = (24.0,16.0), color = 'white', title = 'Coronavirus Perception in Nairobi,Kenya', title_size = 40, image_color = False):
    
    #stopwords = set(stopwords.words('english'))
    stopwords = set(STOPWORDS.words('english'))
    more_stopwords = ('for', 'to')
    stopwords = stopwords.union(more_stopwords)

    wordcloud = wordcloud(background_color = color,
    stopwords = stopwords, max_words = max_words, max_font_size = max_font_size,
    random_state = 42, width = 400, height = 200, mask = mask)
    wordcloud.generate(str(text_without_stopwords)) 

    plt.figure(figsize=(10,10))
    if image_color:
        image_colors = ImageColorGenerator(mask)
        plt.imshow(wordcloud.recolor(color_func = image_colors), interpolation = 'bilinear')
        plt.title(title, fontdict={'size': 'font_size', 'verticalalignment': 'bottom'})
    else:
        plt.imshow(wordcloud)
        plt.title(title, fontdict={'size': 'font_size', 'color': 'black', 'verticalalignment': 'bottom'})
        
    plt.axis('off')
    plt.tight_layout()

d = '/home/grivine/Desktop/Get_Old_Tweets_Approach'

#Wordcloud for the  train text_without_stopwords column

plot_wordcloud(nairobi_df2['text_without_stopwords'])

NameError: name 'STOPWORDS' is not defined